[Unit]
Description={{ docker_service_user }}
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
User=homebridge
Group=homebridge
WorkingDirectory={{ docker_service_config_dir }}
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecReload=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
